<!doctype html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact | IVP</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    

</head>

<body>
    <div class="main-wrapper">
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <span title="Light Mode">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <span title="Dark Mode">Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header -->
        <header class="header axil-header  header-light header-sticky ">
            <div class="header-wrap">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                        <div class="logo">
                            <a href="{% url 'main:home' %}">
                                <img class="dark-logo" src="{% static  'assets/images/logo/logo2.png' %}" alt="CC logo">
                                <img class="light-logo" src="{% static 'assets/images/logo/logo2.png' %}" alt="CC logo">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <nav class="mainmenu-nav">
                                <!-- Start Mainmanu Nav -->
                                <ul class="mainmenu">
                                    <li class="menu-item-has-children"><a href="{% url 'main:home' %}">Home</a>
                                      
                                    </li>

                                    <li class="menu-item-has-children"><a href="#">News</a>
                                        <ul class="axil-submenu">
                                            {% for region in regions %}
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="{% url 'main:posts' region.id %}">
                                                    <span class="hover-flip-item">
                        <span data-text="{{region.name}}">{{region.name}}</span>
                                                    </span>
                                                </a>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
                                    </li>


                                    <li class="menu-item-has-children"><a href="{% url 'main:about' %}">About Us</a>
                                       
                                    </li>

                                    <li><a href="{% url  'main:contact' %}">Contact Us</a></li>
                                </ul>
                                <!-- End Mainmanu Nav -->
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                        <div class="header-search text-end d-flex align-items-center">
                        
                            <!-- <div class="mobile-search-wrapper d-sm-none d-block"> -->
                                <!-- <select class="form-select" style="width: 150px; background-color: #3858F6; color: black; border-radius: 5px; font-size: 15px;" aria-label="Default select example">
                                    <option value="en" selected ><b>ENGLISH</b></option>
                                    <option value="uz"><b>O'ZBEK</b></option>
                                  </select> -->
                            <!-- </div> -->
                            <ul class="metabar-block">
                                <li><a href="{% url 'main:profile' %}"><img src="{{profile.avatar_user.url}}" alt="Author Images"></a></li>
                            </ul>
                            <!-- Start Hamburger Menu  -->
                            <div class="hamburger-menu d-block d-xl-none">
                                <div class="hamburger-inner">
                                    <div class="icon"><i class="fal fa-bars"></i></div>
                                </div>
                            </div>
                            <!-- End Hamburger Menu  -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Start Header -->

        <!-- Start Mobile Menu Area  -->
        <div class="popup-mobilemenu-area">
            <div class="inner">
                <div class="mobile-menu-top">
                    <div class="logo">
                        <a href="{% url 'main:home' %}">
                            <img class="dark-logo" src="{% static  'assets/images/logo/logo2.png' %}" alt="CC logo">
                            <img class="light-logo" src="{% static 'assets/images/logo/logo2.png' %}" alt="CC logo">
                        </a>
                    </div>
                    <div class="mobile-close">
                        <div class="icon">
                            <i class="fal fa-times"></i>
                        </div>
                    </div>
                </div>
                <ul class="mainmenu">
                    <li class="menu-item-has-children"><a href="{% url 'main:home' %}">Home</a>
                       
                    </li>
                    <li class="menu-item-has-children"><a href="#">News</a>
                        <ul class="axil-submenu">
                            {% for region in regions %}
                            <li><a href="{% url 'main:posts' region.id %}">{{ region.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="{% url 'main:about' %}">About Us</a>
                      
                    </li>
                    <li class="menu-item-has-children"><a href="{% url 'main:contact' %}">Contact Us</a>
                        
                    </li>
                </ul>
                
            </div>
        </div>
        <!-- End Mobile Menu Area  -->



        <!-- Start Banner Area  -->
        <div class="axil-banner banner-style-1" style="background-image: url(/static/assets/images/banner/Blog-David-abril.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner">
                            <h1 class="title">Contact Us</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area  -->

        <!-- Start Post List Wrapper  -->
        <div class="axil-post-list-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <!-- Start About Area  -->
                        <div class="axil-about-us">
                            <div class="inner">
                                    <p>One of our primary focuses is on supporting vulnerable groups, including individuals facing economic hardship, discrimination, or social isolation. Through collaborative efforts and innovative solutions, we aim to provide essential resources, promote social cohesion, and empower marginalized communities to thrive. </p>
                                <p>We are deeply committed to environmental sustainability and stewardship. By organizing eco-friendly initiatives such as tree planting, waste management campaigns, and renewable energy projects, we seek to protect the planet for future generations and mitigate the impacts of climate change. </p>
                                <p>Furthermore, our platform extends a helping hand to older adults who may require assistance with daily tasks or companionship. Through volunteer visits, social activities, and caregiving support, we strive to enhance the quality of life for seniors and ensure that they remain active and connected members of their communities.</p>
                                <p>In times of crisis, Intelligent Volunteer Platform mobilizes rapidly to provide relief and support to affected populations. Whether responding to natural disasters, humanitarian emergencies, or public health crises, our dedicated volunteers work tirelessly to deliver aid, comfort, and hope to those in need.</p>                              <p class="primary-color">Email: <a href="#">admin@careconnect.uz</a></p><p class="primary-color">Phone: <a href="#">+998 99 999 99 99</a></p>
                            </div>
                            <!-- Start Contact Form  -->
                            <div class="axil-section-gapTop axil-contact-form-area">
                                <h4 class="title mb--10">Send Us a Message</h4>
                                <p class="b3 mb--30">Your email address will not be published. All the fields are required.</p>
                                <form id="contact-form" method="POST" action="{% url 'main:contact' %}" class="axil-contact-form contact-form--1 row">
                                    {% csrf_token %}
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="contact-name">Your Name</label>
                                            <input name="name" id="contact-name" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="contact-phone">Phone</label>
                                            <input type="text" name="phone" id="contact-phone" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label>Your Email</label>
                                            <input for="email" name="email" id="contact-email" type="email" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="contact-message">Your Message</label>
                                            <textarea name="message" id="contact-message" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-submit">
                                            <button  type="submit"  class="axil-button button-rounded btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Contact Form  -->
                        </div>
                        <!-- End About Area  -->
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- End Post List Wrapper  -->
      
         

        <!-- Start Footer Area  -->
        <div class="axil-footer-area axil-footer-style-1 bg-color-white">
            <!-- Start Footer Top Area  -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Start Post List  -->
                            <div class="inner d-flex align-items-center flex-wrap">
                                <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                                <ul class="social-icon color-tertiary md-size justify-content-start">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Post List  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top Area  -->

            <!-- Start Copyright Area  -->
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-md-12">
                            <div class="copyright-left">
                                <div class="logo">
                                    <a href="{% url 'main:home' %}">
                                        <img class="dark-logo" src="{% static  'assets/images/logo/logo2.png' %}" alt="CC logo">
                                        <img class="light-logo" src="{% static 'assets/images/logo/logo2.png' %}" alt="CC logo">
                                    </a>
                                </div>
                                <ul class="mainmenu justify-content-start">
                                    <li>
                                        <a class="hover-flip-item-wrapper" href="{% url 'main:home' %}">
                                            <span class="hover-flip-item">
                                        <span data-text="Home">Home</span>
                                            </span>
                                        </a>
                                    </li>
                                   
                                    
                                    <li>
                                        <a class="hover-flip-item-wrapper" href="{% url 'main:about' %}">
                                            <span class="hover-flip-item">
                                        <span data-text="About Us">About Us</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="hover-flip-item-wrapper" href="{% url 'main:contact' %}">
                                            <span class="hover-flip-item">
                                        <span data-text="Contact Us">Contact Us</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="copyright-right text-start text-lg-end mt_md--20 mt_sm--20">
                                <p class="b3">All Rights Reserved © 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area  -->
        </div>
        <!-- End Footer Area  -->

        <!-- Start Back To Top  -->
        <a id="backto-top"></a>
        <!-- End Back To Top  -->
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/tweenmax.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.style.switcher.js' %}"></script>
    
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>